
@media only screen and (min-width: 868px)
{

    .welBlock img{
        width: 40%;
        margin-top: 6%;
    }

    .welBlock{
        display: flex;
        width: 70%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .regButtons{
        position: fixed;
        margin: auto;
        width: 100%;
        bottom: 2%;
    }

    .regButtons button{
        width:19%;
        margin-top: 3%;
    }

    .regButtons p{
        margin-top: 3%;
    }

    .welInfo{
        margin-top: 0%;
    }

    .welInfo h2{
        font-size: 2em;

    }
    .welInfo p{
        font-size: 1.2em;

    }

    .mainRegBox{
        width: 30%;
        display: block;
        margin: auto;
    }
    
    .bottomBoxReg{
        /* width: 100%; */
        /* padding-top: 10%; */
        position: static;
        bottom: 100px;
        border-radius: 10px;
    }

    .stepMap div {
        /* Responsive Circle */
        width: 4vw;
        height: 4vw;
    }
    .topBoxReg h3 {
    
        padding-top: 7%;
      }

      .flexAppTitle{
        padding-bottom: 4%;
      }

      .stateButtons{
        position: static;
      }

      .stateButtons button{
        height: 5   vh;
      }

      .bottomBoxReg input{
        margin-top: 6.5%;
      }

      .stepMap div{
        cursor: pointer;
      }

}