.navBody {
  width: 100%;
  height: fit-content;
  background-color: var(--dark);
  position: fixed;
  bottom: 0px;
  padding: 6% 0%;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  gap: 12%;
}

.navBody i {
  font-size: 25px;
  cursor: pointer;
}

.fa-plus-circle {
  font-size: 28px !important;
}

.onlypc {
  display: none;
}

.onlymobile {
  display: block;
}


.topNavbar{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}

.topNavbar i{
    margin: 6% 6%;
}
.topNavbar img{
    margin: 5.5% 6%;
}

.topNavbar img{
    width: 11vw;
    height: 11vw;
    border-radius: 100px;
}

.active i{
  color: var(--glow);
}